<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
			name="”viewport”"
			content="”width"
			="device-width,"
			initial-scale="1”"
		/>
		<link rel="stylesheet" href="./styles/reset.css" />
		<link rel="stylesheet" href="./styles/base.css" />
		<link rel="stylesheet" href="./styles/layout.css" />
		<link rel="stylesheet" href="./styles/modules.css" />
		<title>Book Collection</title>
	</head>
	<body>
		<header><%- include('../../layout/header') %></header>
		<main>
			<div id="form">
				<h4>Search by Title or Author</h4>
				<form action="/searches" method="post">
					<div id="search">
						<input
							id="searchf"
							type="text"
							name="search"
							placeholder="Enter a title or author"
							required
						/>
					</div>
					<fieldset>
						<div id="title">
							<label for="title">
								<span>Title</span>
								<input type="radio" name="search" value="title" required />
							</label>
						</div>
					</fieldset>
					<fieldset>
						<div id="author">
							<label for="author">
								<span>Author</span>
								<input type="radio" name="search" value="author" required />
							</label>
						</div>
					</fieldset>
					<button type="submit">Search the Google Books API</button>
				</form>
			</div>
		</main>
	</body>
</html>
