<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Book Collection</title>
	</head>
	<body>
		<main>
			<ul>
				<% bananas.forEach(book => { %>
				<li><img src="<%= book.image %>" /></li>
				<li><%= book.title %></li>
				<li><%= book.author %></li>
				<li><%= book.description %></li>
				<% }) %>
			</ul>
		</main>
	</body>
</html>
