<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="./styles/base.css" />
		<link rel="stylesheet" href="./styles/layout.css" />
		<link rel="stylesheet" href="./styles/modules.css" />
		<link rel="stylesheet" href="./styles/reset.css" />
		<title>Book Collection</title>
	</head>
	<body>
		<main>
			<h2>An error has occurred!</h2>
		</main>
	</body>
</html>
